@tailwind base;
@tailwind components;
@tailwind utilities;

.allnav{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}
.navbar{
    display: flex;
    padding: 12px 20px 12px 12px;
}
.list1{
    float: right;
    margin-left: 100px;
}
.list1 ul{
    display: flex;
 list-style: none;
 gap: 10px;
margin: 0 0 0 6px;
padding: 0 0 0 40px;


}
.second{
    display: block!important;
    float: right;
    left: auto;
    text-align: left;
    clear: right;
    margin-top: 30px;
    /* font-size: 14px; */
}
.second ul li{
    border: 1px solid black;
    padding: 4px 30px 4px 10px;
cursor: pointer;
}
.second ul li:hover{
    border: 1.4px solid black;
    padding: 4px 30px 4px 10px;
cursor: pointer;
}
.second input{
    border: none;
}
.arrow{
    margin-bottom: 3px;
    margin-left: 3px;
    border: solid green;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/* section2 */
.part2{
    background-color: rgb(165, 163, 163);
    width: 100%;
    height: 30px;
    align-items: center;
    padding: 2px 0;
    min-height: 20px;
}
/* section3 */
.part3{
    background-color: green;
    display: flex;
    height: 40px;
} 

.part3 ul{
display: flex;
gap: 30px;
list-style: none;
color: white;
}
/* section4 */
.part4{
    background-color: grey;
    
}
.part4 img{
    vertical-align: middle;
}
 /* section5 */
.part5{
    background-color: blue;
} 
/* section6 */
.part6{
    background-color: green;
}
 /* section7 */
.part7{

    background-color: red;
}
 /* section8 */
.part8{
    background-color: yellow;
} 
/* section9 */
.part9{
    background-color: royalblue;
} 
/* section10 */
.part10{
    background-color: grey;
}
 /* section11 */

 /* section12 */
 .part12{
    background-color: #454545;
    color: white;
    gap: 50px;
} 
.responsiveness{
    display: none;
    /* justify-content: space-between; */
    gap: 30px;
    width: 100%;
} 



/* responsiveness */
@media only screen and (max-width:990px) {
    .responsiveness{
        display: flex;
        /* justify-content: space-between; */
        gap: 30px;
        width: 100%;
    } 
    .allnav{
        display: none;
    }
}

